extends layout/default.pug

block header
  - const currentPage = "contact"
  +navigation("contact", "chat", "profile")
block tab-content
  each data, key in navTab
    +tab-pane(key, data)
block chat-content
    +new-chat()
