-
  const chats = [
     {
      name: "Вениамин Редакторович",
      avatar: "/images/avatar_4.jpg",
      status: "Онлайн",
      isCurrent: true,
      lastMessage: {
        message: "o_O",
        time: "11:45",
      },
      messages: [
        {
          isMe: false,
          text: "Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?",
          time: "8 минут назад",
        },
        {
          isMe: true,
          text: "Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень",
          time: "5 минут назад",
        },
        {
          isMe: false,
          text: "Лады",
          time: "5 минут назад",
        },
        {
          isMe: true,
          text: "А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие",
          time: "3 минуты назад",
        },
        {
          isMe: false,
          text: "о_О",
          time: "только что",
        }
      ]
    },
  
    {
      name: "Джедай Падаванов",
      avatar: "/images/avatar_2.jpg",
      isCurrent: false,
      lastMessage: {
        message: "Привет, скоро третий проект? Уже скоро надо будет выложить",
        time: "10:12",
      },
      messages: [],
    },
  
    {
      name: "Алексей Примадонин",
      avatar: "/images/avatar_3.jpg",
      isCurrent: false,
      lastMessage: {
        message: "Тесты упали >_<",
        time: "08:53",
      },
      messages: [],
    },
  ]
