-
  const contentPages = {
    "contact": {
      target: "contacts",
      tabId: "contacts-tab",
      navText: "Контакты",
      tabTitle: "Контакты",
      icon: "people",
      searchText: "Поиск по контактам",
      searchId: "search-contact",
      isActive: true,
    },

    "message": {
      target: "messages",
      tabId: "messages-tab",
      navText: "Сообщения",
      tabTitle: "Чаты",
      icon: "chat",
      searchText: "Поиск по сообщениям",
      searchId: "search-message",
      isActive: false,
    },

    "profile": {
      target: "profile",
      tabId: "profile-tab",
      navText: "Профиль",
      tabTitle: "Профиль",
      icon: "person",
      searchText: "Поиск по сообщениям",
      searchId: "search-message",
      isActive: false,
    },

  }