-
  const navTab = {
    "contact": {
      target: "contacts",
      tabId: "contacts-tab",
      navText: "Контакты",
      tabTitle: "Контакты",
      icon: "people",
      searchText: "Поиск по контактам",
      searchId: "search-contact",
    },

    "chat": {
      target: "chats",
      tabId: "chats-tab",
      navText: "Сообщения",
      tabTitle: "Чаты",
      icon: "chat",
      searchText: "Поиск по сообщениям",
      searchId: "search-message",
    },

    "profile": {
      target: "profile",
      tabId: "profile-tab",
      navText: "Профиль",
      tabTitle: "Профиль",
      icon: "person",
      searchText: "Поиск по сообщениям",
      searchId: "search-message",
    },

    "current-chat": {
      target: "current-chat",
      tabId: "current-chat-tab",
      icon: "chat-left-mobile",
    }
    
  }